@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rosario', Verdana, sans-serif;
}
body {
    min-height: 100vh;
}
#about {
    background-color: #000000;
}
a {
    text-decoration: none;
}
nav {
    padding: 50px 200px 0 0;
}
nav.container {
    display: flex;
    justify-content: flex-end;
}
nav.container a {
    margin-left: 50px;
    font-weight: bold;
    font-size: 1.25em;
}
#about nav.container a {
    color: #ffffff;
}
#about nav.container a.active {
    color: #01F0FF;
}
.header-box {
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
#about .header-box {
    margin-top: 100px;
}
.animated-character {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animated-character div {
    background-color: #C4C4C4;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .animated-character div {
    background-color: #792525;
    width: 400px;
    height: 500px;
}
header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
header div {
    margin: 10px;
}
header h1 {
    font-size: 4em;
    font-weight: normal;
}
#about header h1 {
    color: #01F0FF;
}
.header-text {
    width: 400px;
    text-align: left;
}
.header-text h4 {
    font-size: 1.875em;
}
#about .header-text {
    width: 600px;
    text-align: left;
}
.header-text h5 {
    font-size: 1.75em;
}
#about .header-text h5 {
    color: #ffffff;;
}
.header-cta {
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.header-cta div {
    width: 40%
}
.header-cta button {
    background-color: #000000;
    padding: 10px 40px;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5em;
}
